@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@900&family=Rubik+Moonrocks&family=Tinos:ital,wght@0,400;1,700&display=swap');
.textofheader {
    position: relative;
    color: #4caf50;
    font-size: 20px; /* גודל הטקסט */
    display: inline-block;
  }
  
  .textofheader:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%; /* רוחב של העיגול */
    height: 120%; /* גובה של העיגול */
    background-color: #fff; /* צבע הרקע של העיגול */
    border-radius: 40%; /* יצירת צורת עיגול */
    transform: translate(-50%, -50%); /* להניע את העיגול למקום תחילתי עם translate */
    z-index: -1; /* שהעיגול יהיה מאחורי הטקסט */
  }
  
  

