@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@900&family=Rubik+Moonrocks&family=Tinos:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@900&family=Rubik+Moonrocks&family=Tinos:wght@700&display=swap');
.App {
  text-align: center;
}

.main-home{
background-color: gainsboro;
  align-items: center;
  height: 50rem;
}

.sign-in {
  animation: slideInFromTop 1.5s ease-out;
  position: absolute;
}
.log-in{
  animation: slideInFromTop 1.5s ease-out; 
  position: absolute;
}
.admin{ 
  animation: slideInFromTop 1.5s ease-out; 
  position: absolute;
}

@keyframes slideInFromTop {
0% {
  transform: translateY(-100%);
}
100% {
  transform: translateY(0);
}

}
.textofheader {
    position: relative;
    color: #4caf50;
    font-size: 20px; 
    display: inline-block;
  }
  
  .textofheader:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%; 
    height: 120%; 
    background-color: #fff; 
    border-radius: 10%; /* יצירת צורת עיגול */
    transform: translate(-50%, -50%); /* להניע את העיגול למקום תחילתי עם translate */
    z-index: -1; /* שהעיגול יהיה מאחורי הטקסט */
  }

  @keyframes blink {
    0% {
      color: #3cda41; /* צבע רגיל */
    }
    50% {
      color: #ffeb3b; /* צבע הבהוב */
    }
    100% {
      color: #3cda41; /* צבע רגיל */
    }
  }
  
  .blinking-text {
    animation: blink 1s infinite; /* 1s האנימציה תיכנס לתוקף במשך שנייה ותחזור חזרה בלולאה אינסופית */
  }
  .profile {
    animation: slideInFromRight 1.5s ease-out; 
    position: absolute;
    right: 1%;
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .moveToWeb{
    position: relative;
    top: 60%;
  }
  

