@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@900&family=Rubik+Moonrocks&family=Tinos:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@900&family=Rubik+Moonrocks&family=Tinos:wght@700&display=swap');
.App {
  text-align: center;
}

.main-home{
background-color: rgb(255, 252, 252);
  align-items: center;
  height: 50rem;
}

.sign-in {
  animation: slideInFromTop 1.5s ease-out;
  position: absolute;
}
.log-in{
  animation: slideInFromTop 1.5s ease-out; 
  position: absolute;
}
.admin{ 
  animation: slideInFromTop 1.5s ease-out; 
  position: absolute;
}

@keyframes slideInFromTop {
0% {
  transform: translateY(-100%);
}
100% {
  transform: translateY(0);
}

}


  @keyframes blink {
    0% {
      color: #3cda41; /* צבע רגיל */
    }
    50% {
      color: #ffeb3b; /* צבע הבהוב */
    }
    100% {
      color: #3cda41; /* צבע רגיל */
    }
  }
  
  .blinking-text {
    animation: blink 1s infinite; /* 1s האנימציה תיכנס לתוקף במשך שנייה ותחזור חזרה בלולאה אינסופית */
  }
  .profile {
    animation: slideInFromRight 1.5s ease-out; 
    position: absolute;
    right: 1%;
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .moveToWeb{
    position: relative;
    top: 60%;
  }
  .text-editor-rtl .ql-editor {
    direction: rtl;
    text-align: right; 
  }


